:root {
  --color1: #363062;
  --color2: #4D4C7D;
  --color3: #F99417;
  --color4: #F5F5F5;
  --color5: #D8D8D8;
  --color6: #4B4B4B;
}

.sm-icons {
  flex-direction: row;
}

@media only screen and (max-width: 960px) {
  .sm-icons .nav-link {
    padding-right: 1em;
  }
}

.carousel-item {
  height: 75vh;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 75vh;
}

.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

.carousel-caption {
  z-index: 1;
}

#block-1 {
  background-image: url("/assets/school-dark.png");
  background-position: center;
  background-size: cover;
}

.insta-gradient {
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
}

.modal.fade.show {
  background-color: #363062dc;
}

#gallery-main {
  background-image: url("assets/background.png");
  border: .5rem var(--color1) solid;
}

.gallery-image {
  max-height: 200px;
}

.gallery-image:hover {
  transform: scale(1.15) rotate(1deg);
  transition: all .5s ease-in-out;
}

.carousel-inner > .carousel-item {
  height: 50vh !important;
}

.carousel-inner > .carousel-item > img {
  min-height: 50vh;
  height: 50vh;
  width: 100%;
  object-fit: cover !important;
}

.carousel-inner > .carousel-item::after {
  background: rgba(0, 0, 0, 0.295) !important;
}
