:root {
    --color1: #363062;
    --color2: #4D4C7D;
    --color3: #F99417;
    --color4: #F5F5F5;
    --color5: #D8D8D8;
    --color6: #4B4B4B;
    
    --font-family: "Montserrat", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Roboto Condensed", sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0px;
    background-color: var(--color4);
    font-family: var(--font-family);
}

/* header */

.header {
    background-color: var(--color3);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color4);
    font-size: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}

.lyceum-name {
    font-family: var(--font-family);
    font-weight: 500;
    letter-spacing: -1.5px;
    font-size: 32px;
    color: var(--color4);
    text-overflow: clip;
    margin-left: 20px;
}

.lyceum-name:hover {
    color: var(--color2);
    transition: all .25s ease
}

.lyceum-name-narrow {
    display: none;
    font-family: var(--font-family);
    font-weight: 500;
    margin-left: 20px;
    font-size: 30px;
}

.header img {
    height: 50px;
}

.header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0px;
}

.header ul li {
    display: inline-block;
    margin: 0px 10px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--color4);
}

.header ul li:hover {
    color: var(--color2);
    transition: all .25s ease
}

.nav-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid var(--color1);
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    background: var(--color2);
}

.nav-social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0px;
}

.nav-social-media img {
    height: 30px;
    margin: 0px 5px;
}

.menu-icon {
    display: none;
    height: 50px;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1200px) {
    .lyceum-name-narrow {
        display: block;
    }

    .lyceum-name {
        display: none;
    }

    .header ul {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        user-select: none;
    }

    .mobile-menu {
        position: absolute;
        display: none;
        flex-direction: column;
        right: 0px;
        top: 49px;
        height: fit-content;
        z-index: 4;
        background-color: var(--color3);
        color: var(--color4);
        list-style: none;
        font-size: 30px;
        border-bottom-left-radius: 5px;
    }

    .mobile-menu ul {
        list-style-type: inherit;
        padding: 0;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-menu ul li {
        margin-top: 10px;
    }

    .mobile-menu.active{
        display: flex;
    }
}

/* index */

.block {
    height: 75vh;
    width: 100vw;
    padding: 1em;
}

.block-1 {
    background-image: url(https://cdn4.suspilne.media/images/resize/1020x1.78/3870680f2cb9dc97.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    height: 95vh;
    background-attachment: fixed;
}

.block-1::after {
    content: "";
    background-color: var(--color2);
    position: absolute;
    z-index: 1;
    opacity: 90%;
    top: 50px;
    left: 0;
    height: 95vh;
    width: 100%;

}

.block-1-h1-text {
    padding: 90px;
    color: var(--color4);
    font-size: 80px;
}

.block-1 h1{
    position: relative;
    z-index: 3;
    margin: 0px;

    font-family: var(--third-family);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--color4);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}

.block-1 h1:last-of-type {
    color: var(--color3);
}

.block-hr {
    position: relative;
    z-index: 3;
    margin: 20px 15px;
    size: 20px;
}

.hr-new {
    z-index: 3;
}

/* .block-2::before {
    content: "👇";
    position: absolute;
    z-index: 3;
    font-size: 60px;
    bottom: 26px;
    right: 6px;
} */

.block-2 {
    height: 91vh;
    background-color: var(--color1);
    padding: 30px 80px;
    font-size: 30px;
    color: var(--color4);
}

@media screen and (max-width: 1200px) {
    .block-2 {
        height: fit-content;
    }
}

.block-2 h2 {
    margin: 0px;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 96px;
    color: var(--color2);
}

.block-2 p {
    margin-top: 90px;
    margin-bottom: 60px;
    padding: 0px 40px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.block-2 ul {
    list-style-type: "✅";
    padding: 0px 100px;
    font-size: 1.5em;
    font-style: italic;

    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.block-2 li {
    padding-left: .5ch;
}

@media screen and (max-width: 1200px) {
    .block-1-h1-text {
        font-size: 30px;
        padding: 20px;
        padding-top: 30vh;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .block-1-h1-text h1 {
        text-align: center;
    }

    .block-2::before {
        display: none;
    }

    .block-2 {
        padding: 30px;
    }

    .block-2 h2 {
        font-size: 50px;
        text-align: center;
    }

    .block-2 p {
        font-size: 20px;
        text-align: center;
        margin-bottom: 3ch;
    }

    .block-2 ul {
        font-size: 21px;
        padding: 50px;
    }

    .block-2 .block-hr {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .block-2 {
        height: 100vh;
    }

    .block-2 p {
        font-size: 17px;
    }

    .block-2 ul {
        font-size: 18px;
        padding: 10px 50px;
    }

    .block-2 li {
        margin-bottom: 1ch;
    }

    .block-2 .block-hr {
        display: none;
    }
}

/* command */

.h1-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: var(--color1);
    margin-top: 50px;
}

.h1-container h1 {
    margin: 20px 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 96px;
    text-align: center;
    color: var(--color1);
}

.table-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding: 30px;
}

.person {
    background: var(--color5);
    border: 2px solid var(--color6);
    box-shadow: 6px 4px 4px 0 rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 48px;
    width: 12vw;
    height: 51vh;
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    min-width: 200px;
}
/* 
@media screen and (max-width: 1200px) {
    .person {
        width: 90rem;
    }
} */

.person img {
    height:210px;
    border-radius: 10px;
    border: 5px dashed var(--color3);
    border-radius: 197px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.6);
}

.person h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: #2a2a2a;
}

.person h3 {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #000;
}

.person:hover {
    transition: all .5s ease;
    transform: scale(1.15, 1.15);
}

.modal-body.user-modal {
    justify-items: center;
    align-items: stretch;
}

.modal-body img {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .h1-container h1 {
        font-size: 50px;
    }

    .person img {
        border: 5px solid var(--color3);
    }

    .person:hover {
        transition: none;
        transform: none;
    }

    .modal-body img {
        max-height: 30vh;
        max-width: none;
        height: 35vh;
        width: auto;
    }
}

/* gallery */

.photos-grid {
    margin: 50px 0px 0px;
    padding: 4px;
    border: 5px solid var(--color1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(./images/background.png);
}

.photos-grid img {
    height: 300px;
    margin: 2px;
    cursor: pointer;
}

.photos-grid img:hover {
    transform: scale(1.15) rotate(1deg);
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 1200px) {
    .photos-grid img {
        max-width: 95vw;
    }

    .photos-grid img:hover {
        transform: none;
    }
}

/* events */

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 70vw;
}

.event {
    margin: 1.5vh 0.5vw;
    width: 30vw;
    height: 491;
    background: var(--color5);
    border: 1px solid var(--color6);
    border-radius: 12px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: baseline;
    justify-content: space-around;
}

.event:hover {
    transition: all .5s ease;
    transform: scale(1.15, 1.15) rotate(1deg);
    cursor: pointer;
}

.event-image {
    border: 6px dashed var(--color3);
    width: calc(100% - 16px);
    border-radius: 12px;
    min-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.6);
}

.event h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #2b2b2b;
}

.event h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--color6);
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    padding: 2px 4px;
    border: 1px dashed var(--color6);
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1200px) {
    .event .event-image {
        background-position: center;
    }
}

/* event modal */

#overlay{
    content: "";
    background-color: var(--color2);
    position: fixed;
    z-index: 1;
    opacity: 0%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#overlay.active{
    opacity: 90%;
    pointer-events: all;
}

.modal-active {
    overflow-y: hidden;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 320ms ease-in-out;
    z-index: 2;
    box-shadow: 8px 4px 4px 0 rgba(0, 0, 0, 0.5);
    background: #d9d9d9;
    border: 2px solid var(--color6);
    border-radius: 12px;
    width: 73vw;
    height: 76vh;
    /*max-width: 80%;*/
    display: grid;
    grid-template-rows: 1fr 12fr;
}

.modal-body {
    overflow-y: scroll;
}

@media screen and (max-width: 1200px) {
    .modal {
        height: fit-content;
        max-height: 90vh;
    }
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color4);
    background-color: var(--color3);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0px 0px;
}

.modal-header .title {
    font-size: 2rem;
    font-weight: bold;
}
  
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color4);
}

.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 15px;
    overflow-y: hidden;

}

.modal-images-frame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.modal-event-img {
    grid-column: 1 / 4;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-sub-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-body .text {
    padding: 10px;
    /* overflow-y: hidden; */
}

.modal-body .text .name {
    font-size: 40px;
}

.modal-body .text .member-position {
    margin-top: 15px;
    font-size: 30px;
}

.modal-body .text .description {
    margin-top: 30px;
}

.modal .title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--color4);
}

.modal-event-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    color: #000;
}

.modal-event-date {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #000;
}

.modal-event-description{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #000;
}

@media screen and (max-width: 1200px) {
    .event {
        width: 90vw;
    }
}

@media screen and (max-width: 767px) {
    .modal {
        width: 90vw;
    }

    .modal-body {
        flex-direction: column;
        overflow-y: scroll;
    }

    /* .modal-body img {
        width: 100%;
        height: fit-content;
    } */

    .modal-images-frame {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        height: 30vh;
    }
    
    .modal-event-img {
        grid-column: 1 / 4;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .modal-sub-img {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1200px) {
    .modal-body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        overflow-y: auto;
    }

    .modal-images-frame {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .modal-body .text {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}

/* contacts */

.contacts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin: 20px 20vh; */
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.person-contacts {
    margin: 10px;
    box-shadow: 8px 4px 4px 0 rgba(0, 0, 0, 0.5);
    background: var(--color5);
    border: 1px solid var(--color6);
    border-radius: 12px;
    padding: 28px;
}

.person-contacts h2, h3, h4 {
    margin: 0;
}

.profile-photo {
    /* stroke: 5px dashed var(--color3); */
    width: auto;
    height: 31vh;
    /* box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.6); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.profile-photo.egor {
    background-image: url(./images/contacts/egor.png);
}

.profile-photo.masha {
    background-image: url(./images/contacts/masha.png);
}

.profile-photo.sergiy {
    background-image: url(./images/contacts/sergiy.png);
}

.person-contacts h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    color: #000;
    margin: 20px 0;
}

.person-contacts h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    /* text-align: center; */
    color: #000;
    margin-top: 20px;
}

.person-contacts h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    /* text-align: center; */
    color: #000;
    margin-top: 16px;
}

@media screen and (max-width: 1200px) {
    .contacts-container {
        flex-direction: column;
        margin: 10px;
        height: fit-content;
    }

    .person-contacts {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: calc(100vw - 97px);
    }

    .profile-photo {
        height: 31vh;
    }

    .person-contacts h2 {
        margin: 10px 0px;
    }

    .person-contacts h3 {
        margin: 10px 0px;
    }

    .person-contacts h4 {
        margin: 10px 0px;
    }
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color4);
    height: 30px;
    background-color: var(--color3);
}

.footer span {
    margin: 0px 20px;
}

@media screen and (max-width: 1200px) {
    span {
        font-size: 10px;
    }
}   