:root {
    --color1: #363062;
    --color2: #4D4C7D;
    --color3: #F99417;
    --color4: #F5F5F5;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0px;
    background-color: var(--color4);
    font-family: 'Roboto Condensed', sans-serif;
    
}

/* header */

.header {
    background-color: var(--color3);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color4);
    font-size: 20px;
}

.lyceum-name {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    font-size: 30px;
}

.lyceum-name:hover {
    color: var(--color2);
    transition: all .25s ease
}

.lyceum-name-narrow {
    display: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    font-size: 30px;
}

.header img {
    height: 50px;
}

.header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0px;
}

.header ul li {
    display: inline-block;
    margin: 0px 10px;
}

.header ul li:hover {
    color: var(--color2);
    transition: all .25s ease
}

.nav-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-social-media img {
    height: 30px;
    margin: 0px 5px;
}

.menu-icon {
    display: none;
    height: 50px;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1045px) {
    .lyceum-name-narrow {
        display: block;
    }

    .lyceum-name {
        display: none;
    }

    .header ul {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        user-select: none;
    }

    .mobile-menu {
        position: absolute;
        display: none;
        flex-direction: column;
        right: 0px;
        top: 49px;
        height: fit-content;
        z-index: 4;
        background-color: var(--color3);
        color: var(--color4);
        list-style: none;
        font-size: 30px;
        border-bottom-left-radius: 5px;
    }

    .mobile-menu ul {
        list-style-type: inherit;
        padding: 0;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-menu ul li {
        margin-top: 10px;
    }

    .mobile-menu.active{
        display: flex;
    }
}

/* index */

.block-1 {
    background-image: url(https://cdn4.suspilne.media/images/resize/1020x1.78/3870680f2cb9dc97.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    height: 95vh;
    background-attachment: fixed;
}

.block-1::after {
    content: "";
    background-color: var(--color2);
    position: absolute;
    z-index: 1;
    opacity: 90%;
    top: 50px;
    left: 0;
    height: 95vh;
    width: 100%;

}

.block-1-h1-text {
    padding: 90px;
    color: var(--color4);
    font-size: 80px;
}

.block-1 h1{
    position: relative;
    z-index: 3;
    margin: 0px;
}

.block-1 h1:last-of-type {
    color: var(--color3);
}

.block-hr {
    position: relative;
    z-index: 3;
    margin: 20px 15px;
    size: 20px;
}

.block-2::before {
    content: "👇";
    position: absolute;
    z-index: 3;
    font-size: 60px;
    bottom: 26px;
    right: 6px;
}

.block-2 {
    height: 91vh;
    background-color: var(--color1);
    padding: 30px 80px;
    font-size: 30px;
    color: var(--color4);
}

.block-2 h2 {
    margin: 0px;
    font-size: 100px;
    color: var(--color2);
}

.block-2 p {
    padding: 0px 40px;
}

.block-2 ul {
    list-style-type: "✅";
    padding: 0px 100px;
    font-size: 1.5em;
    font-style: italic;
}

@media screen and (max-width: 1045px) {
    .block-1-h1-text {
        font-size: 30px;
        padding: 20px;
        padding-top: 30vh;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .block-1-h1-text h1 {
        text-align: center;
    }

    .block-2::before {
        display: none;
    }

    .block-2 {
        padding: 30px;
    }

    .block-2 h2 {
        font-size: 50px;
        text-align: center;
    }

    .block-2 p {
        font-size: 20px;
        text-align: justify;
    }

    .block-2 ul {
        font-size: 21px;
        padding: 50px;
    }

    .block-2 .block-hr {
        display: none;
    }
}

@media screen and (max-height: 900px) {
    .block-2 {
        height: 100vh;
    }

    .block-2 p {
        font-size: 17px;
    }

    .block-2 ul {
        font-size: 18px;
        padding: 10px 50px;
    }

    .block-2 .block-hr {
        display: none;
    }
}

/* command */

.h1-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: var(--color1);
    margin-top: 50px;
}

.h1-container h1 {
    margin: 20px 20px;
    text-align: center;
}

.table-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding: 30px;
}

.person {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #F99417;
    padding: 90px 16px 0px;
    border-radius: 10px;
    width: 270px;
    height: 470px;
    margin: 20px;
    cursor: pointer;
}

.person img {
    height:210px;
    border-radius: 10px;
}

.person h2 {
    font-size: 40px;
    color: var(--color1);
    margin: 10px 10px;
    text-align: center;
}

.person h3 {
    margin: 10px 10px;
    font-size: 30px;
    color: var(--color2);
    text-align: center;
}

.person:hover {
    transition: all .5s ease;
    transform: scale(1.15, 1.15);
}

#overlay{
    content: "";
    background-color: var(--color2);
    position: fixed;
    z-index: 10;
    opacity: 0%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#overlay.active{
    opacity: 90%;
    pointer-events: all;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 320ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--color4);
    width: 70%;
    /*max-width: 80%;*/
  }
  
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color4);
    background-color: var(--color3);
    border-radius: 10px 10px 0px 0px;
}
  
.modal-header .title {
    font-size: 2rem;
    font-weight: bold;
}
  
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color4);
}
  
.modal-body {
    display: flex;
    padding: 10px 15px;
}

.modal-body img {
    height: fit-content;
    width: 450px;
}

.modal-body .text {
    padding: 10px;
    font-size: 20px;
}

.modal-body .text .name {
    font-size: 40px;
}

.modal-body .text .member-position {
    margin-top: 15px;
    font-size: 30px;
}

.modal-body .text .description {
    margin-top: 30px;
}

@media screen and (max-width: 1045px) {
    .h1-container h1 {
        font-size: 50px;
    }
}

/* gallery */

.photos-grid {
    margin: 50px 0px 0px;
    padding: 4px;
    border: 5px solid var(--color1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(./images/background.png);
}

.photos-grid img {
    height: 300px;
    margin: 2px;
    cursor: pointer;
}

.photos-grid img:hover {
    transform: scale(1.15) rotate(1deg);
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 1045px) {
    .photos-grid img {
        max-width: 95vw;
    }

    .photos-grid img:hover {
        transform: none;
    }
}

/* events */

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 50px;
}

.event {
    width: 70vh;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    background-color: var(--color3);
    border-radius: 10px;
    cursor: pointer;
}

.event:hover {
    transition: all .5s ease;
    transform: scale(1.15, 1.15) rotate(1deg);
}

.event img {
    min-width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.event h2 {
    margin: 10px 20px;
    color: var(--color1);
    font-size: 30px;
}

.event h3 {
    margin: 10px 20px;
    color: var(--color2);
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.modal-event-img {
    height: 450px;
    width: 450px;
}

.modal-event-title {
    font-size: 40px;
    color: var(--color1);
}

.modal-event-description{
    margin-top: 30px;
}

@media screen and (max-width: 1045px) {
    .event {
        width: 90vw;
    }
}

@media screen and (max-width: 690px) {
    .modal {
        width: 90vw;
    }

    .modal-body {
        flex-direction: column;
    }

    .modal-body img {
        width: 100%;
        height: fit-content;
    }
}

/* contacts */

.contacts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    /*background-color: aqua*/;
    margin: 20px 20vh;
}

.person-contacts {
    margin: 10px;
}

.person-contacts h2 {
    font-size: 40px;
    color: var(--color1);
}

.person-contacts h3 {
    font-size: 30px;
    color: var(--color1);
}

.person-contacts h4 {
    font-size: 20px;
    color: var(--color2);
}

@media screen and (max-width: 1045px) {
    .contacts-container {
        flex-direction: column;
        margin: 10px;
        height: fit-content;
    }

    .person-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .person-contacts h2 {
        margin: 10px 0px;
    }

    .person-contacts h3 {
        margin: 10px 0px;
    }

    .person-contacts h4 {
        margin: 10px 0px;
    }
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color4);
    height: 30px;
    background-color: var(--color3);
}

.footer span {
    margin: 0px 20px;
}

@media screen and (max-width: 1045px) {
    span {
        font-size: 10px;
    }
}